.app-header {
    align-items: flex-end;
    justify-content: space-between;
  
  }
  
  .app-header h1 {
    /* width: 150px;
    height: 150px; */
    font-size: 28px;
    color: rgb(2, 2, 116);
    text-transform: uppercase;
  }
  
  .app-header h2 {
    font-size: 1.2rem;
    color: grey;
  }
  
  @media(max-width: 520px){
    .app-header h1{
      font-size: 20px;
    }
    .app-header h2{
      font-size: 0.8rem;
    }
  }